<div id="container">
  <header>
    <div id="logo">
      <img src="./assets/img/pura-logo-100.png" />
    </div>
    <div id="title">
      <h1>Digital Encyclopedia of Atticism</h1>
      <!-- <svg viewBox="0 0 300 40" style="height: 100px; background-color: bisque">
        <text x="0" y="25">Digital Encyclopedia of Atticism</text>
      </svg> -->
    </div>
  </header>

  <div id="sections">
    <div id="s-lem">
      <mat-icon class="big-icon">list_alt</mat-icon>
      <h2>lemmas</h2>
    </div>
    <div id="s-wrk">
      <mat-icon class="big-icon">history_edu</mat-icon>
      <h2>works</h2>
    </div>
    <div id="s-mss">
      <mat-icon class="big-icon">menu_book</mat-icon>
      <h2>manuscripts</h2>
    </div>
    <div id="s-src">
      <mat-icon class="big-icon">search</mat-icon>
      <h2>search</h2>
    </div>
  </div>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>footer - information about the project and its partners</footer>
</div>
