<div id="container">
  <header>
    <div id="logo">
      <img src="./assets/img/pura-logo-100.png" />
    </div>
    <div id="title">
      <h1>Digital Encyclopedia of Atticism</h1>
      <p>
        PURA: Purism in Antiquity: Theories of Language in Greek Atticist Lexica
        and their Legacy
      </p>
      <!-- <svg viewBox="0 0 300 40" style="height: 100px; background-color: bisque">
        <text x="0" y="25">Digital Encyclopedia of Atticism</text>
      </svg> -->
    </div>
  </header>

  <div id="sections">
    <div id="s-lem">
      <a routerLink="/lemmas">
        <mat-icon class="big-icon">list_alt</mat-icon>
        <h2>lemmas</h2>
      </a>
    </div>
    <div id="s-wrk">
      <a routerLink="/works">
        <mat-icon class="big-icon">history_edu</mat-icon>
        <h2>works</h2>
      </a>
    </div>
    <div id="s-mss">
      <a routerLink="/mss">
        <mat-icon class="big-icon">menu_book</mat-icon>
        <h2>manuscripts</h2>
      </a>
    </div>
    <div id="s-src">
      <a routerLink="/search">
        <mat-icon class="big-icon">search</mat-icon>
        <h2>search</h2>
      </a>
    </div>
  </div>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>
      This project has received funding from the European Research Council (ERC)
      under the European Union’s Horizon 2020 research and innovation programme
      (grant agreement No 865817): 2021-01-01 - 2025-12-31.
    </p>
    <p>
      <a href="mailto:olga.tribulato@unive.it">Olga Tribulato</a>,
      <a href="https://www.unive.it/pag/27720" target="_blank"
        >Department of Humanities</a
      >, Malcanton Marcorà, Dorsoduro 3484/D, Calle Contarini, 30123 Venice.
    </p>
  </footer>
</div>
