#container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "banner"
    "sections"
    "main"
    "footer";
}
header {
  grid-area: banner;
  display: flex;
  column-gap: 8px;
  height: 100px;
  // position: sticky;
  // top: 0;
}
#logo {
  flex: 0 1 auto;
}
#title {
  flex: 0 1 auto;
}
#title h1 {
  margin: 40px 0 8px 0;
  font-size: 2.25rem;
}
#title p {
  color: silver;
}
#sections {
  grid-area: sections;
  display: flex;
  // gap: 16px;
  margin: 16px 0;
  flex-wrap: wrap;
  background-color: #f0f0f0;
}
#sections div a {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 2px solid #a31324;
  border-radius: 12px;
  padding: 16px;
  width: 150px;
  margin: 16px 0 16px 16px;
  background-color: white;
  text-decoration: none;
}
#sections div a * {
  flex: 0 1 auto;
}
#sections h2 {
  color: var(--pura-accent);
}
.big-icon {
  font-size: 64px;
  width: 64px;
  height: 64px;
  line-height: 64px;
  color: var(--pura-accent);
}
#s-lem {
  grid-area: lem;
}
#s-wrk {
  grid-area: wrk;
}
#s-mss {
  grid-area: mss;
}
#s-src {
  grid-area: src;
}
main {
  margin: 8px;
  grid-area: main;
}
footer {
  margin: 0;
  padding: 16px 0;
  color: silver;
  grid-area: footer;
  background-color: #f0f0f0;
  text-align: center;
}
footer a {
  color: silver;
}

@media only screen and (max-width: 500px) {
  #title h1 {
    margin: 40px 0;
    font-size: 1.25rem;
  }
  #sections {
    align-content: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 300px) {
  #title h1 {
    margin: 10px 0;
    font-size: 1.25rem;
  }
}
